*{
    font-family: 'Maven Pro', sans-serif;
    color: azure;
    user-select: none;
    overflow-x: hidden;
    scrollbar-width: none;
}
body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FFA0A0;
}
#header{
    overflow: hidden;
    display: flex;
    top: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #262A53;
    flex-flow: row wrap;
    justify-content: left;
}
#footer{
    overflow: hidden;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #FFE3E3;
    justify-content: space-between;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#homebut{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #262A53;
}
#homebut:hover{
    cursor: pointer;
}